- provide(:title, t('.title'))

= link_to "商品列表", products_path, :class => "btn btn-primary"
= link_to "论坛列表", forums_path, :class => "btn btn-primary"
= link_to "用户列表", users_path, :class => "btn btn-primary"
= link_to "角色列表", roles_path, :class => "btn btn-primary"
